$color-header: #491c1163;
$color-header-dark: #000000cc;
$color-grey: rgb(85, 85, 85);
$color-black: #000;
$color-white: #fff;
$color-grey-light-1:#f7f7f7;

$color-secondary-light-1: #252525;
$color-secondary-light-2: #0000009c;

$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;

$color-light-button: rgb(150, 131, 131);

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;